@{
    ViewBag.Title = "Home Page";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="col-md-3 wow bounceIn" data-wow-delay="0.4s">
    <div class="top-grid">
        <span class="icon1"> </span>
        <h3><a href="#">right strategy</a></h3>
        <label> </label>
        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,</p>
    </div>
</div>
<div class="col-md-3 wow bounceIn" data-wow-delay="0.4s">
    <div class="top-grid">
        <span class="icon2"> </span>
        <h3><a href="#">adaptive style</a></h3>
        <label> </label>
        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,</p>
    </div>
</div>
<div class="col-md-3 wow bounceIn" data-wow-delay="0.4s">
    <div class="top-grid">
        <span class="icon3"> </span>
        <h3><a href="#">money making</a></h3>
        <label> </label>
        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,</p>
    </div>
</div>
<div class="col-md-3 wow bounceIn" data-wow-delay="0.4s">
    <div class="top-grid">
        <span class="icon4"> </span>
        <h3><a href="#">brand keaping</a></h3>
        <label> </label>
        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,</p>
    </div>
</div>
<div class="clearfix"> </div>


<!---- top-grids ---->
<!---- about ---->
<div id="about" class="about">
    <div class="head-section">
        <div class="container">
            <h3><span>about</span><label>Sci-Tech .</label></h3>
        </div>
    </div>
    <!--- about-grids ---->
    <div class="about-grids">
        <div class="col-md-4 about-grid about-grid1 wow fadeInLeft" data-wow-delay="0.4s">
            <div class="about-grid-info">
                <h4><a href="#">this is a point about the company</a></h4>
                <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed </p>
            </div>
            <div class="about-grid-pic">
                <img src="/images/about-pic1.jpg" title="name" />
            </div>
        </div>
        <div class="col-md-4 about-grid about-grid2 wow fadeInUp" data-wow-delay="0.4s">
            <div class="about-grid-pic">
                <img src="/images/about-pic2.jpg" title="name" />
            </div>
            <div class="about-grid-info">
                <h4><a href="#">this is a point about the company</a></h4>
                <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed </p>
            </div>
        </div>
        <div class="col-md-4 about-grid about-grid1 wow fadeInRight" data-wow-delay="0.4s">
            <div class="about-grid-info">
                <h4><a href="#">this is a point about the company</a></h4>
                <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed </p>
            </div>
            <div class="about-grid-pic">
                <img src="/images/about-pic3.jpg" title="name" />
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
    <!--- /about-grids ---->
</div>
<!--</div>-->
<!---- about ---->
<!--- process --->
<div id="process" class="process">
    <div class="head-section">
        <div class="container">
            <h3><span>Our</span><label>products .</label></h3>
        </div>
    </div>
    <div class="container">
        <div class="process-grids text-center wow bounce" data-wow-delay="0.4s">
            <div class="col-md-3 process-grid process-grid1 wow bounceInUp" data-wow-delay="0.4s">
                <span class="p-icon1"> </span>
                <h4><a href="#">meeting</a></h4>
            </div>
            <div class="col-md-3 process-grid process-grid2 wow bounceInDown" data-wow-delay="0.4s">
                <span class="p-icon2"> </span>
                <h4><a href="#">analysis</a></h4>
            </div>
            <div class="col-md-3 process-grid process-grid3 wow bounceInUp" data-wow-delay="0.4s">
                <span class="p-icon3"> </span>
                <h4><a href="#">making</a></h4>
            </div>
            <div class="col-md-3 process-grid process-grid4 wow bounceInDown" data-wow-delay="0.4s">
                <span class="p-icon4"> </span>
                <h4><a href="#">success</a></h4>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!--- process --->
<!--- blog ---->
<div class="blog">
    <div class="head-section">
        <div class="container">
            <h3><span>Our</span><label>blog .</label></h3>
        </div>
    </div>
    <!---- blog-grids ---->
    <div class="blog-grids">
        <div class="container">
            <div class="blog-grids-left">
                <div class="blog-grid-left wow bounceIn" data-wow-delay="0.4s">
                    <div class="blog-art-pic">
                        <img src="/images/b1.jpg" title="name" />
                    </div>
                    <div class="blog-art-info">
                        <h3><a href="#">Heading</a></h3>
                        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</p>
                        <ul class="blog-art-info-stags">
                            <li class="blog-art-info-stags-left"><span>12.11.2014</span></li>
                            <li class="blog-art-info-stags-right">
                                <ul>
                                    <li><a href="#"> <label class="b-icon1"> </label>24</a></li>
                                    <li><a href="#"> <label class="b-icon2"> </label>9</a></li>
                                </ul>
                            </li>
                            <div class="clearfix"> </div>
                        </ul>
                    </div>
                </div>
                <div class="blog-grid-left wow bounceIn" data-wow-delay="0.4s">
                    <div class="blog-art-pic">
                        <img src="/images/b2.jpg" title="name" />
                    </div>
                    <div class="blog-art-info">
                        <h3><a href="#">Heading</a></h3>
                        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</p>
                        <ul class="blog-art-info-stags">
                            <li class="blog-art-info-stags-left"><span>12.11.2014</span></li>
                            <li class="blog-art-info-stags-right">
                                <ul>
                                    <li><a href="#"> <label class="b-icon1"> </label>24</a></li>
                                    <li><a href="#"> <label class="b-icon2"> </label>9</a></li>
                                </ul>
                            </li>
                            <div class="clearfix"> </div>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"> </div>
                <!---- ---->
                <div class="blog-grid-left-big wow bounceIn" data-wow-delay="0.4s">
                    <div class="blog-grid-left-big-info">
                        <div class="blog-art-info">
                            <h3><a href="#">Heading</a></h3>
                            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. </p>
                            <ul class="blog-art-info-stags">
                                <li class="blog-art-info-stags-left"><span>12.11.2014</span></li>
                                <li class="blog-art-info-stags-right">
                                    <ul>
                                        <li><a href="#"> <label class="b-icon1"> </label>24</a></li>
                                        <li><a href="#"> <label class="b-icon2"> </label>9</a></li>
                                    </ul>
                                </li>
                                <div class="clearfix"> </div>
                            </ul>
                        </div>
                    </div>
                    <div class="blog-grid-left-big-pic">
                        <div class="blog-art-pic">
                            <img src="/images/b4.jpg" title="name" />
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="blog-grids-right wow bounceIn" data-wow-delay="0.4s">
                <div class="blog-grid-left blog-grid-right">
                    <div class="blog-art-pic">
                        <img src="/images/b3.jpg" title="name" />
                    </div>
                    <div class="blog-art-info">
                        <h3><a href="#">Heading</a></h3>
                        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</p>
                        <ul class="blog-art-info-stags">
                            <li class="blog-art-info-stags-left"><span>12.11.2014</span></li>
                            <li class="blog-art-info-stags-right">
                                <ul>
                                    <li><a href="#"> <label class="b-icon1"> </label>24</a></li>
                                    <li><a href="#"> <label class="b-icon2"> </label>9</a></li>
                                </ul>
                            </li>
                            <div class="clearfix"> </div>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <!---- blog-grids ---->
    </div>
</div>
<!--- blog ---->
<!--- portfolio ---->
<div id="port" class="portfolio">
    <div class="head-section">
        <div class="container">
            <h3>portfolio .</h3>
        </div>
    </div>
    <!--- Portfolio --->
    <div id="port" class="portfolio-box">

        <!---- start-portfolio-script----->
      
       
        <script type="text/javascript">
                            $(function () {
                                var filterList = {
                                    init: function () {

                                        // MixItUp plugin
                                        // http://mixitup.io
                                        $('#portfoliolist').mixitup({
                                            targetSelector: '.portfolio',
                                            filterSelector: '.filter',
                                            effects: ['fade'],
                                            easing: 'snap',
                                            // call the hover effect
                                            onMixEnd: filterList.hoverEffect()
                                        });

                                    },
                                    hoverEffect: function () {
                                        // Simple parallax effect
                                        $('#portfoliolist .portfolio').hover(
                                            function () {
                                                $(this).find('.label').stop().animate({ bottom: 0 }, 200, 'easeOutQuad');
                                                $(this).find('img').stop().animate({ top: -30 }, 500, 'easeOutQuad');
                                            },
                                            function () {
                                                $(this).find('.label').stop().animate({ bottom: -40 }, 200, 'easeInQuad');
                                                $(this).find('img').stop().animate({ top: 0 }, 300, 'easeOutQuad');
                                            }
                                        );

                                    }

                                };
                                // Run the show!
                                filterList.init();
                            });
        </script>
        <div class="container">
            <!----//End-portfolio-script----->
            <ul id="filters" class="clearfix">
                <li class="filtter-color1"><span class="filter active" data-filter="app card icon logo web">All</span></li>
                <li class="filtter-color2"><span class="filter" data-filter="app">business</span></li>
                <li class="filtter-color3"><span class="filter" data-filter="card">building</span></li>
                <li class="filtter-color4"><span class="filter" data-filter="icon">medicine</span></li>
                <li class="filtter-color5"><span class="filter" data-filter="app">entertainment</span></li>
            </ul>
        </div>
        <div id="portfoliolist">
            <div class="portfolio logo1 mix_all port-big-grid wow bounceIn" data-wow-delay="0.5s" data-cat="logo" style="display: inline-block; opacity: 1;">
                <div class="portfolio-wrapper">
                    <a data-toggle="modal" data-target=".bs-example-modal-md" href="#" class="b-link-stripe b-animate-go  thickbox">
                        <img class="p-img" src="/images/portpic1.jpg" /><div class="b-wrapper">
                            <h2 class="b-animate b-from-left b-delay03 ">
                                <div class="caption">
                                    <h4>heading of project</h4>
                                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                                </div>
                            </h2>
                        </div>
                    </a>
                </div>
            </div>
            <div class="portfolio app mix_all wow bounceIn" data-wow-delay="0.5s" data-cat="app" style="display: inline-block; opacity: 1;">
                <div class="portfolio-wrapper">
                    <a data-toggle="modal" data-target=".bs-example-modal-md" href="#" class="b-link-stripe b-animate-go  thickbox">
                        <img class="p-img" src="/images/portpic2.jpg" /><div class="b-wrapper">
                            <h2 class="b-animate b-from-left    b-delay03 ">
                                <div class="caption">
                                    <h4>heading of project</h4>
                                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                                </div>
                            </h2>
                        </div>
                    </a>
                </div>
            </div>

            <div class="portfolio web mix_all wow bounceIn" data-wow-delay="0.5s" data-cat="web" style="display: inline-block; opacity: 1;">
                <div class="portfolio-wrapper">
                    <a data-toggle="modal" data-target=".bs-example-modal-md" href="#" class="b-link-stripe b-animate-go  thickbox">
                        <img class="p-img" src="/images/portpic3.jpg" /><div class="b-wrapper">
                            <h2 class="b-animate b-from-left    b-delay03 ">
                                <div class="caption">
                                    <h4>heading of project</h4>
                                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                                </div>
                            </h2>
                        </div>
                    </a>
                </div>
            </div>
            <div class="portfolio icon mix_all wow bounceIn" data-wow-delay="0.5s" data-cat="icon" style="display: inline-block; opacity: 1;">
                <div class="portfolio-wrapper">
                    <a data-toggle="modal" data-target=".bs-example-modal-md" href="#" class="b-link-stripe b-animate-go  thickbox">
                        <img class="p-img" src="/images/portpic4.jpg" /><div class="b-wrapper">
                            <h2 class="b-animate b-from-left    b-delay03 ">
                                <div class="caption">
                                    <h4>heading of project</h4>
                                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                                </div>
                            </h2>
                        </div>
                    </a>
                </div>
            </div>
            <div class="portfolio app mix_all wow bounceIn" data-wow-delay="0.5s" data-cat="app" style="display: inline-block; opacity: 1;">
                <div class="portfolio-wrapper">
                    <a data-toggle="modal" data-target=".bs-example-modal-md" href="#" class="b-link-stripe b-animate-go  thickbox">
                        <img class="p-img" src="/images/portpic5.jpg" /><div class="b-wrapper">
                            <h2 class="b-animate b-from-left    b-delay03 ">
                                <div class="caption">
                                    <h4>heading of project</h4>
                                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                                </div>
                            </h2>
                        </div>
                    </a>
                </div>
            </div>
            <div class="portfolio card mix_all wow bounceIn" data-wow-delay="0.5s" data-cat="card" style="display: inline-block; opacity: 1;">
                <div class="portfolio-wrapper">
                    <a data-toggle="modal" data-target=".bs-example-modal-md" href="#" class="b-link-stripe b-animate-go  thickbox">
                        <img class="p-img" src="/images/portpic6.jpg" /><div class="b-wrapper">
                            <h2 class="b-animate b-from-left    b-delay03 ">
                                <div class="caption">
                                    <h4>heading of project</h4>
                                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                                </div>
                            </h2>
                        </div>
                    </a>
                </div>
            </div>
            <div class="portfolio icon mix_all wow bounceIn" data-wow-delay="0.5s" data-cat="icon" style="display: inline-block; opacity: 1;">
                <div class="portfolio-wrapper">
                    <a data-toggle="modal" data-target=".bs-example-modal-md" href="#" class="b-link-stripe b-animate-go  thickbox">
                        <img class="p-img" src="/images/portpic7.jpg" /><div class="b-wrapper">
                            <h2 class="b-animate b-from-left    b-delay03 ">
                                <div class="caption">
                                    <h4>heading of project</h4>
                                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                                </div>
                            </h2>
                        </div>
                    </a>
                </div>
            </div>
            <div class="portfolio app mix_all wow bounceIn" data-wow-delay="0.5s" data-cat="app" style="display: inline-block; opacity: 1;">
                <div class="portfolio-wrapper">
                    <a data-toggle="modal" data-target=".bs-example-modal-md" href="#" class="b-link-stripe b-animate-go  thickbox">
                        <img class="p-img" src="/images/portpic8.jpg" /><div class="b-wrapper">
                            <h2 class="b-animate b-from-left    b-delay03 ">
                                <div class="caption">
                                    <h4>heading of project</h4>
                                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                                </div>
                            </h2>
                        </div>
                    </a>
                </div>
            </div>
            <div class="portfolio card mix_all wow bounceIn" data-wow-delay="0.5s" data-cat="card" style="display: inline-block; opacity: 1;">
                <div class="portfolio-wrapper">
                    <a data-toggle="modal" data-target=".bs-example-modal-md" href="#" class="b-link-stripe b-animate-go  thickbox">
                        <img class="p-img" src="/images/portpic9.jpg" /><div class="b-wrapper">
                            <h2 class="b-animate b-from-left    b-delay03 ">
                                <div class="caption">
                                    <h4>heading of project</h4>
                                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                                </div>
                            </h2>
                        </div>
                    </a>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

<!---- work-with-us---->
<div class="work-with-us text-center">
    <div class="container">
        <h4>YOU ALSO WANT? WORK WITH US!</h4>
        <p>Send the application form for a free call and our manager will contact with you</p>
        <a class="catch-me wow shake" data-wow-delay="0.3s" href="#">contact us</a>
    </div>
</div>
<!---- work-with-us---->
<!--- portfolio ---->
<!---- Team ----->
<div id="team" class="team">
    <div class="head-section">
        <div class="container">
            <h3><span>our amazing</span><label>team .</label></h3>
        </div>
    </div>
    <!----sreen-gallery-cursual---->
    <div class="sreen-gallery-cursual">
        <!-- requried-jsfiles-for owl -->

        <script>
                            $(document).ready(function () {
                                $("#owl-demo").owlCarousel({
                                    items: 3,
                                    lazyLoad: true,
                                    autoPlay: true,
                                    navigation: true,
                                    navigationText: false,
                                    pagination: false,
                                });
                            });
        </script>
        <!-- //requried-jsfiles-for owl -->
        <!-- start content_slider -->
        <div id="owl-demo" class="owl-carousel text-center">
            <div class="item wow zoomIn" data-wow-delay="0.3s">
                <img class="lazyOwl" data-src="/images/team-member1.png" alt="name">
                <h5><span>Peter</span> Holmes</h5>
                <label>Marketing</label>
            </div>
            <div class="item wow zoomIn" data-wow-delay="0.3s">
                <img class="lazyOwl" data-src="/images/team-member2.png" alt="name">
                <h5><span>Kenny</span> Johns</h5>
                <label>CEO</label>
            </div>
            <div class="item wow zoomIn" data-wow-delay="0.3s">
                <img class="lazyOwl" data-src="/images/team-member3.png" alt="name">
                <h5><span>Trisha </span> Steplton</h5>
                <label>Designer</label>
            </div>
            <div class="item wow zoomIn" data-wow-delay="0.3s">
                <img class="lazyOwl" data-src="/images/team-member1.png" alt="name">
                <h5><span>Peter</span> Holmes</h5>
                <label>Marketing</label>
            </div>
            <div class="item wow zoomIn" data-wow-delay="0.3s">
                <img class="lazyOwl" data-src="/images/team-member2.png" alt="name">
                <h5><span>Kenny</span> Johns</h5>
                <label>CEO</label>
            </div>
            <div class="item wow zoomIn" data-wow-delay="0.3s">
                <img class="lazyOwl" data-src="/images/team-member3.png" alt="name">
                <h5><span>Trisha </span> Steplton</h5>
                <label>Designer</label>
            </div>
        </div>
        <!--//sreen-gallery-cursual---->
    </div>
</div>
<!---- Team ----->
<!---- map ---->
<div id="contact" class="map">
    <div class="map-location">
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script><div style="overflow:hidden;height:500px;width:600px;"><div id="gmap_canvas" style="height:500px;width:600px;"></div>
        <style>
            #gmap_canvas img {
                max-width: none !important;
                background: none !important;
            }
        </style><a class="google-map-code" href="http://premium-wordpress-themes.org" id="get-map-data">premium-wordpress-themes.org</a></div>
        <script type="text/javascript"> function init_map() { var myOptions = { zoom: 14, center: new google.maps.LatLng(18.5989428, 73.76527149999993), mapTypeId: google.maps.MapTypeId.ROADMAP }; map = new google.maps.Map(document.getElementById("gmap_canvas"), myOptions); marker = new google.maps.Marker({ map: map, position: new google.maps.LatLng(18.5989428, 73.76527149999993) }); infowindow = new google.maps.InfoWindow({ content: "<b>Choudhary Park</b><br/>wakad<br/> 411 057 pune" }); google.maps.event.addListener(marker, "click", function () { infowindow.open(map, marker); }); infowindow.open(map, marker); } google.maps.event.addDomListener(window, 'load', init_map);</script>
        
    </div>
    <div class="contact-info text-center wow fadeInLeft" data-wow-delay="0.3s">
        <h4><span>Sci-Tech Innovations</span><br/>a scientific deal...</h4>
        <p><span class="map-icon1"> </span>Sr.No.176 H.No. 1/5<br/>
            Choudhary Park, Wakad, Pune - 411 057</p>
        <p><span class="map-icon3"> </span>(91) 942 246 3187</p>
        <p><span class="map-icon2"> </span>sales.scitech@gmail.com</p>
    </div>
</div>